.outerFacility
{
    margin-top: 10px;
    margin-bottom: 50px;

}

.Facilitycontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cardFacility {
    width: 200px;
  height: 250px; /* Adjust height to accommodate the image */
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none; /* Removes default link underline */
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  }

  .cardFacility img
  {
    width: 100%; /* Ensure the image fills the card */
    height: 150px; /* Maintain aspect ratio */
    border-radius: 5px; /* Add border-radius if needed */
  }
  
  .cardFacility:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #d1d9e1;
  }
  
  .cardFacility h2 {
    margin-top: 0;
  }
  
  .cardFacility p {
    margin-bottom: 0;
    color: rgb(0, 195, 255);

  }
  