
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container8 {
  max-width: 1000px;
  margin: 0 auto;  
  padding: 20px;
  text-align: center;
}
p {
  font-size: 18px;
}


.heading {
  color: #920409;
  font-size: 28px;
  margin: 0; 
  padding-top: 20px; 
  margin-bottom: 20px;
  text-align: center;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #920409;
  z-index: 1000;
}

.container8 {
  padding-top: 80px; 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-bottom: 30px;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-bottom: 30px;
}
.center3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .container8 {
    padding-top: 100px; 
  }
}
