.hero  
{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)),url('../../assets/LNMIIT.jpg'); 
    background-size: cover; 
    background-position: center;
    color:  #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x:hidden;
    
}

 .heading
{  
   
  color: #c7dd99;
  font-size: 13px;
  margin-bottom: 10px;
}

.hero-text{
    text-align: center;
    max-width: 1000px;
}

.hero-text h1{
    
    font-weight: 600;

}
.hero-text p{
    max-width: 710px;
    margin: 10px auto 30px;
    line-height: 1.4;
    font-size: 24px;
    color: #c7dd99;
}


.typing-container {
  overflow: hidden;
  white-space:nowrap;
  border-right: .15em solid #c7dd99; /* Typing cursor */
  animation: typing 5s steps(50) infinite;
 
}

/* Styles for the text inside the container */
.typing-container::after {
  content: '|'; /* Typing cursor */
  animation: blink-caret 1s infinite; /* Blinking animation for the cursor */
}

/* Typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Blinking animation for the cursor */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #c7dd99; }
}


 

#highlightText {
    font-size: 60px;
    color: white;
    position: relative;
    overflow: hidden;
  }
  
  #highlightText::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 81);  
    animation: slideHighlight 2s ease-in-out forwards; 
    opacity: 0.6;
  }

 
  
  @keyframes slideHighlight {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }


  .animate::before {
    left: 100%; /* Start animation from right */
  }

/* media query */
@media (max-width: 850px)
{
    .hero-text h1{
        font-size: 40px;
        
    }
}
@media (max-width: 650px)
{
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
        
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
}