.container1 {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
  }
  
  .fotu  {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  .description1 {
    margin-top: 20px;
    margin-right: 50px;
  }
  
  .description1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
  }
  
  .description1 p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
  }
  
   