

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    
    background: #F5F5F5;
    
    
}

a{
    text-decoration: none;
    color:inherit;
    line-height: 1;
    cursor: pointer;
}

.container
{
    padding-left: 5%;
    padding-right: 5%;

}

.btn
{
    background: #FFF;
    color: #212121;
    padding: 17px 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 114px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px; /* Adjust to match navbar height */
  }
.btn:hover
{
    transform: scale(1.02);
}

.btn img{
    width: 20px;
    margin-left:10px ;
}

.btn.dark-btn{
    background: #212EA0;
    color: #fff;
}

/* media query */
@media (max-width: 1200px)
{
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }

    .btn{
        padding: 14px 22px;
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Chatbot */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #991b1b;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7f1d1d;
}